svg {
  overflow: hidden;
  background-color: #f2f3f8;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 20;
  margin-left: 16px;
}


[md-fab] {
  position: fixed;
  left: 700px;
  top: 2%;
  z-index: 1;
}

md-sidenav-layout {
  background: #f2f3f8;
}

md-input {
  margin: 8px 0;
  width: 100%;
}

md-radio-button, md-checkbox {
  margin: 16px 8px;
}

.form {
  display: flex;
}

.form md-card {
  flex-grow: 1;
}

md-card {
  width: 100%;
  box-sizing: border-box;
  margin-left: 0px;
  background-color: #f2f3f8;
}

.card-container {
  color:#f2f3f8;
  background-color: #f2f3f8;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
}

md-sidenav-container{
  color:#f2f3f8;
  margin: 0px;
}

md-card-content{
  margin: 16px;
}

