<button md-fab (click)="filter.toggle()">
 <md-icon>filter_list</md-icon>
</button>

<md-sidenav-container fullscreen>
  <md-sidenav class="filter" mode="over" align="end" #filter flex>
    <div class="card-container">
      <md-card>
        <md-card-title align="left">Variable Selector</md-card-title>
        <md-card-content>
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <form>
                  <md-select placeholder="" [(ngModel)]="selectedValueFirst" name="firstVariable">
                    <md-option *ngFor="let variable of variables" [value]="variable.name">
                      {{variable.name}}
                    </md-option>
                  </md-select>

                  <p> Selected value: {{selectedValueFirst}} </p>
                </form>
              </td>
              <td>
                <form>
                  <md-select placeholder="" [(ngModel)]="selectedValueSecond" name="secondVariable">
                    <md-option *ngFor="let variable of variables" [value]="variable.name">
                      {{variable.name}}
                    </md-option>
                  </md-select>

                  <p> Selected value: {{selectedValueSecond}} </p>
                </form>
              </td>
            </tr>
          </table>
        </md-card-content>
        <md-card-actions align="left">
          <button md-button color="accent" (click)="addVariables()">Add Variables</button>
        </md-card-actions>
      </md-card>

      <md-card>
        <md-card-title align="left">Variables</md-card-title>
        <md-card-content>
          <md-nav-list dense>
            <md-list-item *ngFor="let variablePair of pairs">
              {{variablePair.firstVariable}} &nbsp; : &nbsp; {{variablePair.secondVariable}} &nbsp;
            </md-list-item>
          </md-nav-list>
        </md-card-content>
        <md-card-actions align="left">
          <button md-button color="accent" (click)="createStateChart()">Create Statechart</button>
          <button md-button color="accent" (click)="removeVariables()">Remove Variables</button>
        </md-card-actions>
      </md-card>

      <md-card>
        <md-card-title align="left">Ignored Variables</md-card-title>
        <md-card-content>
          <form>
            <md-select placeholder="" [(ngModel)]="selectedValueIgnore" name="ignoreVariable">
              <md-option *ngFor="let variable of variables" [value]="variable.name">
                {{variable.name}}
              </md-option>
            </md-select>

            <p> Selected value: {{selectedValueIgnore}} </p>
          </form>

          <md-nav-list dense>
            <md-list-item *ngFor="let ignore of ignores">
              {{ignore}} &nbsp; : &nbsp;
            </md-list-item>
          </md-nav-list>
        </md-card-content>
        <md-card-actions align="left">
          <button md-button color="accent" (click)="addToIgnore()">Add To Ignore</button>
        </md-card-actions>
      </md-card>
    </div>

  </md-sidenav>

  <div class="card-container">
    <md-card>
      <md-card-title align="left">State Machine Creator</md-card-title>
      <md-card-content>
        <div class="container">
          <svg width=1600 height=1000>
            <g/>
          </svg>
        </div>
      </md-card-content>
    </md-card>
  </div>

</md-sidenav-container>
