<button md-fab (click)="filter.toggle()">
 <md-icon>filter_list</md-icon>
</button>

<md-sidenav-container>
  <md-sidenav class="filter" mode="over" align="end" #filter flex>
    <my-property-filter (onClose)="filter.close()">
    </my-property-filter>
  </md-sidenav>

  <my-property-viewer>
  </my-property-viewer>

</md-sidenav-container>


