<md-card>
  <md-card-title align="left">Filter Options</md-card-title>
  <md-card-content>
    <form>
      <md-input-container>
          <input mdInput [(ngModel)]="filterLHS" placeholder="LHS" name="lhs_input">
      </md-input-container>
      <md-input-container>
        <input mdInput [(ngModel)]="filterRHS" placeholder="RHS" name="rhs_input">
    </md-input-container>
      <div class="form-group">
        <md-checkbox [(ngModel)]="_filterService.combine" name="combine">Combine Filters</md-checkbox>
      </div>

      <hr>

      <!--<div>
        <label align="left">Variable Filter</label>
        <md-list>
          <md-list-item *ngFor="let variable of _dataService.variableValuesLHS">
            <span>{{variable.name}}:  </span>
            <span *ngFor="let valOcc of variable.valuesAndOccurences">
                <md-checkbox [(ngModel)]="valOcc.checked" name="nameValue">
                  {{valOcc.value}} : {{valOcc.occurence}}
                </md-checkbox>
            </span>
          </md-list-item>
        </md-list>
      </div>-->
    </form>
  </md-card-content>
  <md-card-actions align="end">
      <button md-button color="accent" (click)="applyFilter()">Apply Filter</button>
      <button md-button color="accent" (click)="resetFilter()">Clear Filter</button>
  </md-card-actions>
</md-card>
