[md-fab] {
  position: fixed;
  left: 700px;
  top: 2%;
  z-index: 1;
}

md-input {
  margin: 8px 0;
  width: 100%;
}

md-card {
  width: fit-content;
  box-sizing: content-box;
  margin: 4px;
  padding: 4px;
  background-color: #333f50 -10%;
}

md-card.rhs-lhs {
  width: fit-content;
  box-sizing: content-box;
  background: lightgray;;
  margin: 4px;
}

md-card-header {
  margin: -4px 0 4px 0;
  height: 10px;
}

md-card-subtitle {
  margin-bottom: 8px;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
  color:#f2f3f8;
  background-color: #f2f3f8;
}

.group{
  background-color:#f2f3f8;
}

md-sidenav-container{
  color:#f2f3f8;
  background-color: #f2f3f8;
}

span {
  font-size: 15pt;
}
