.heatmap{
  color:  #f2f3f8;
}

.card-container {
  color:#f2f3f8;
  background-color: #f2f3f8;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
}

md-card-content{
  margin: 16px;
}

md-card {
  width: 100%;
  box-sizing: border-box;
  margin-left: 0px;
  background-color: #f2f3f8;
}

.group{
  background-color:#f2f3f8;
}

md-sidenav-container{
  color:#f2f3f8;
  background-color: #f2f3f8;
  width: 500;
}
