<div class="card-container">
  <md-card>
    <md-card-title align="left">Impact Score</md-card-title>
    <md-card-content>
      <div id="heatmap" class="heatmap">
        <!-- Plotly chart will be drawn inside this DIV -->
      </div>
      <div id="heatmap_var" class="heatmap">
        <!-- Plotly chart will be drawn inside this DIV -->
      </div>
    </md-card-content>
  </md-card>
</div>
