<div class="card-container">
  <md-card class="start-card">
    <md-card-header>
      <md-card-title>
        <h2>Cruise Control</h2>
      </md-card-title>
    </md-card-header>
    <img md-card-image src="assets/img/cruise.jpg">
    <md-card-content class="start-content" flex>
      <p>
        Invariants of two slightly different versions of a cruise control model.
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button (click)=loadCruise()>Load</button> <button md-button (click)=infoCruise()>Tell me more</button>
    </md-card-actions>
  </md-card>

  <md-card class="start-card">
    <md-card-header>
      <md-card-title>
        <h2>Heart Model</h2>
      </md-card-title>
    </md-card-header>
    <img md-card-image src="assets/img/heart_model.png">
    <md-card-content class="start-content" flex>
      <p>
        Invariants of the simplified path model from:
        <i>"Real-time heart model for implantable cardiac device validation and verification"</i>.
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button (click)=loadHeart()>Load</button> <button md-button (click)=infoHeart()>Tell me more</button>
    </md-card-actions>
  </md-card>

  <md-card class="start-card">
    <md-card-header>
      <md-card-title>
        <h2>Pacemaker Model</h2>
      </md-card-title>
    </md-card-header>
    <img md-card-image src="assets/img/PPM.png">
    <md-card-content class="start-content" flex>
      <p>
        Invariants related to the Lowest Rate Interval (LRI) of a pacemaker model from:
        <i>"Real-time heart model for implantable cardiac device validation and verification"</i>.
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button (click)=loadPacemaker()>Load</button> <button md-button (click)=infoPacemaker()>Tell me more</button>
    </md-card-actions>
  </md-card>

  <md-card class="start-card">
    <md-card-header>
      <md-card-title>
        <h2>Test Data</h2>
      </md-card-title>
    </md-card-header>
    <img md-card-image src="assets/img/PPM.png">
    <md-card-content class="start-content" flex>
      <p>
        Test for FSM creator
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button (click)=loadTest()>Load</button>
    </md-card-actions>
  </md-card>

</div>
