.start-card {
  width: 300px;
  margin: 4px;
  background-color: darkgrey;
}

.start-content {
  background-color: darkgrey;
  height: 75px;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
  background-color: #f2f3f8;
}

.container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  box-sizing: border-box;
  margin: 16px;
  color:#f2f3f8;
}
