md-card {
  width: 100%;
  box-sizing: border-box;
  margin: 16px;

  background-color:  #f2f3f8;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
  color:#f2f3f8;
  background-color:  #f2f3f8;
}

[md-snack-bar]{
   background-color:  #f2f3f8;
}

