<div class="card-container">
  <md-card>
    <md-card-title align="left">Load Files</md-card-title>
    <md-card-content>
      <form>
        <div class="form-group">
          Select files:
          <input type="file" name="myfiles" (change)="changeListener($event)" multiple="multiple" />
        </div>
      </form>
    </md-card-content>
    <md-card-actions align="left">
      <button md-button color="accent" (click)="loadFiles()">Load</button>
    </md-card-actions>
  </md-card>

  <md-card>
    <md-card-title align="left">Data Files</md-card-title>
    <md-card-content>
      <md-nav-list dense>
        <md-list-item>
          <md-select>
            <md-option>
              Select All
            </md-option>
            <md-option>
              Unselect All
            </md-option>
          </md-select>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <md-select>
            <md-option>
              Activate All
            </md-option>
            <md-option>
              Deactivate All
            </md-option>
          </md-select>
        </md-list-item>
        <md-list-item *ngFor="let file of _dataService.files">
          <md-checkbox>&emsp;{{file.fileName}}:&nbsp; {{file.propertyIds.length}} Properties</md-checkbox>
          &emsp;&emsp;&emsp;
          <md-slide-toggle  [(ngModel)]="file.active"></md-slide-toggle>
        </md-list-item>
      </md-nav-list>
    </md-card-content>
    <md-card-actions align="left">
      <button md-button color="accent" (click)="filterFiles()">Filter Files</button>
      <button md-button color="accent" (click)="removeFiles()">Remove Files</button>
    </md-card-actions>
  </md-card>

  <md-card>
        <md-card-title align="left">File Comparison</md-card-title>
        <md-card-subtitle align="left">Select Files to Comapare</md-card-subtitle>
        <md-card-content>
          <md-select placeholder="First File" [(ngModel)]="firstFile">
            <md-option *ngFor="let file of _dataService.files" [value]="file">
              {{file.fileName}}:&nbsp; {{file.propertyIds.length}} Properties
            </md-option>
          </md-select>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <md-select placeholder="Second File" [(ngModel)]="secondFile">
            <md-option *ngFor="let file of _dataService.files" [value]="file">
              {{file.fileName}}:&nbsp; {{file.propertyIds.length}} Properties
            </md-option>
          </md-select>
        </md-card-content>
        <md-card-actions align="left">
          <button md-button color="accent" (click)="compare()">Compare Files</button>
        </md-card-actions>
      </md-card>
</div>
