
<md-toolbar color="primary" class="toolbar">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
  </md-toolbar>

<md-sidenav-container fullscreen>
  <md-sidenav #sidenav mode="side" class="app-sidenav" opened="true">
    <div class="sidenav-title">
      <h1>Specification Inspector</h1>
    </div>
    <div class="sidenav-menu">
      <md-nav-list>
      <a md-list-item (click)="goToHome()">
        <md-icon md-list-icon>home</md-icon>
        <span md-line>Home</span>
        <span md-line>Load Examples</span>
      </a>
      <a md-list-item (click)="goToFiles()">
        <md-icon md-list-icon>folder</md-icon>
        <span md-line>Data</span>
        <span md-line>Manage your Data</span>
      </a>
      <a md-list-item (click)="goToProperties()">
        <md-icon md-list-icon>list</md-icon>
        <span md-line>Properties</span>
        <span md-line>Inspect your Properties</span>
      </a>
      <a md-list-item (click)="goToGraph()">
        <md-icon md-list-icon>linear_scale</md-icon>
        <span md-line>State Machine</span>
        <span md-line>Create State Machines</span>
      </a>
      <a md-list-item (click)="goToCharts()">
        <md-icon md-list-icon>show_chart</md-icon>
        <span md-line>Charts</span>
        <span md-line>View Charts</span>
      </a>
      <a md-list-item (click)="goToDiff()">
        <md-icon md-list-icon>compare</md-icon>
        <span md-line>Compare</span>
        <span md-line>Compare your Properties</span>
      </a>

    </md-nav-list>
    </div>

  </md-sidenav>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>

</md-sidenav-container>
<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
