
[md-fab-controll] {
  position: fixed;
  left: 10px;
  top: 2%;
  z-index: 1;
}

.app-content{
  color: #f2f3f8;
  background-color: #f2f3f8;
}

.app-sidenav{
  background-color: #333f50;
  padding:10px;
   /*border-style: solid;
   border-color: #ff0016;
   border-top-color: #333f50;
   border-left-color: #333f50;
   border-bottom-color: #333f50;
   */
}

.filter{
  background-color: #333f50;
}

.sidenav-title{
  color: #f2f3f8;
}

md-sidenav-container{
  background-color: #f2f3f8;
}

md-icon{
  color: #f2f3f8;
}

span{
  color: #f2f3f8;
}
