<md-tab-group (selectChange)="selectionChanged()" #tabGroup *ngIf="(_comparisonService.inBoth.size > 0 || _comparisonService.onlyInFirst.size > 0 || _comparisonService.onlyInSecond.size > 0) && (_dataService.files.length > 1)">
  <md-tab label="{{_comparisonService.inBoth.size}} in both files">
  </md-tab>
  <md-tab label="{{_comparisonService.onlyInFirst.size}} only in {{_comparisonService.firstFile.fileName}}">
  </md-tab>
  <md-tab label="{{_comparisonService.onlyInSecond.size}} only in {{_comparisonService.secondFile.fileName}}">

  </md-tab>
</md-tab-group>
<md-card *ngIf="(_comparisonService.inBoth.size == 0 && _comparisonService.onlyInFirst.size == 0 && _comparisonService.onlyInSecond.size == 0 && _dataService.files.length > 1)">
  <md-card-title align="left">Select files to compare</md-card-title>
</md-card>
<md-card *ngIf="(_dataService.files.length <= 1)">
  <md-card-title align="left">Only one file present, please <a routerLink='/file-manager'>add another file</a> </md-card-title>
</md-card>
<my-property-viewer-filter *ngIf="(_comparisonService.inBoth.size != 0 || _comparisonService.onlyInFirst.size != 0 || _comparisonService.onlyInSecond.size != 0)"> </my-property-viewer-filter>
